$animationDuration: 350ms;
$animationEaseing: cubic-bezier(.75,-0.5,0,1.75);
$animationDelay: 250ms;
$slideXLength: 200px;
$slideYLength: 100px;

.animate {
    transition: opacity $animationDuration $animationEaseing, background-color $animationDuration $animationEaseing, transform $animationDuration $animationEaseing;
    transition-delay: $animationDelay;
    
    &.animate--fade-in {
        opacity: 0;
    }
    
    &.animate--slide-left {
        transform: translateX($slideXLength);
    }
    
    &.animate--slide-right {
        transform: translateX(-$slideXLength);
    }
    
    &.animate--slide-down {
        transform: translateY(-$slideYLength);
    }
    
    &.animate--slide-up {
        transform: translateY($slideYLength);
    }

    &.animate--animated {
        opacity: 1 !important;
        transform: translateX(0) translateY(0) !important;
    }
}
