.card {
    $cardTransitionTime: 250ms;
    // border-radius: .25rem;
    background-color: #fff;
    color: #000;
    overflow: hidden;
    position: relative;
    transition: transform $cardTransitionTime ease, box-shadow $cardTransitionTime ease, background-color $cardTransitionTime ease, border $cardTransitionTime ease;

    &.card--hover {
        &:hover {
            transform: translateY(-.5rem);
            box-shadow: 5px 5px 1rem rgba(0, 0, 0, .3), 5px 5px 4rem rgba(0, 0, 0, .3);

            .card__title {
                color: inherit;
            }
        }
    }

    &.card--dark {
        background-color: #333;
    }

    &.card--shadow {
        box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    }

    &.card--ghost {
        background-color: transparent;
        color: inherit;

        &.card--hover:hover {
            color: initial;
            background-color: #fff;
        }
    }

    &.card--rogue {
        background-color: rgba(255, 255, 255, .25);
        @include text-contrast(#fff);

        &.card--hover:hover {
            color: initial;
            background-color: #fff;
        }
    }

    .post__poster {
        img {
            width: 100%;
        }
    }

    .card__poster {
        position: relative;
        overflow: hidden;
        height: 100%;

        &:after {
            content: '';
            display: block;
            width: 100%;
            padding-bottom: 60%;
        }

        .card__meta {
            position: absolute;
            bottom: 0;
            z-index: 1;

            .card__title {
                font-size: 1rem;
                color: #fff;
                text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
                margin: 1rem 1rem .5rem;
            }

            .post-meta {
                margin: 0 1rem 1rem;

                .tags {
                    .tag {
                        font-size: .5em;
                    }
                }
            }
        }

        .card__date--poster {
            font-size: .6em;
            position: absolute;
            top: .2rem;
            right: .2rem;
            font-weight: bold;
            text-transform: uppercase;
            padding: .5rem;
            line-height: 1;
            text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
            color: #fff;
            z-index: 1;
        }

        a {
            display: block;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            background-color: transparent;
            background-image: none;
        }

        img {
            width: 100%;
        }

        .photo {
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transform: scale(1.01);
            transition: transform 1s ease;

            &.faded {
                opacity: .2;
            }
        }
    }

    .card__body {
        transition: color $cardTransitionTime ease;

        @include media('<=phone') {
            padding: 1rem;
        }

        @include media('>phone', '<desktop') {
            padding: 1.5rem;
        }

        @include media('>=desktop') {
            padding: 2rem;
        }

        &.card__body-extra-padding {
            @include media('<=phone') {
                padding: 1rem;
            }

            @include media('>phone', '<desktop') {
                padding: 2rem;
            }

            @include media('>=desktop') {
                padding: 5rem;
            }
        }

        &.card__body-no-padding {
            padding: 0;
        }

        .card__title {
            font-size: 1.25em;
            margin: 0 0 1rem;
            flex: 1;
            transition: inherit;
        }

        .card__date--poster {
            font-size: 0.7em;
            position: absolute;
            top: .2rem;
            right: .2rem;
            font-weight: bold;
            text-transform: uppercase;
            padding: .5rem;
            line-height: 1;
            background-color: rgba(51, 51, 51, 0.8);
            color: #fff;
        }

        .card__cta {
            margin-top: 1rem;
        }
    }

    &:hover {
        .card__poster {
            .photo {
                transform: scale(1.5);
            }
        }
    }
}
