@font-face {
  font-family: 'Roboto Mono';
  src:  url('/assets/css/fonts/robotomono-regular-webfont.woff2') format('woff2'),
        url('/assets/css/fonts/robotomono-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Slab';
  src:  url('/assets/css/fonts/robotoslab-regular-webfont.woff2') format('woff2'),
        url('/assets/css/fonts/robotoslab-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Museo Sans Rounded';
  src:  url('/assets/css/fonts/msr-normal-webfont.woff2') format('woff2'),
        url('/assets/css/fonts/msr-normal-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Museo Sans Rounded Bold';
  src:  url('/assets/css/fonts/msr-bold-webfont.woff2') format('woff2'),
        url('/assets/css/fonts/msr-bold-webfont.woff') format('woff');
}

// Misc elements
body {
  background-color: #323740;
  color: white;
  font-family: $font-ui;
  font-size: 16pt;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-header;
  color: #3C3C3C;
  font-weight: normal;
}

@include large {
  h1 { font-size: 2.6em; margin: 0 0 1em; }
  h2 { font-size: 2em; margin: 0 0 .8em;}
  h3 { font-size: 1.6em; margin: 0 0 .8em;}
  h4 { font-size: 1.4em; margin: 0 0 .5em;}
  h5 { font-size: 1.2em; margin: 0 0 .5em;}
  h6 { font-size: 1.1em; margin: 0 0 .5em;}
}

@include medium {
  h1 { font-size: 2.3em; margin: 0 0 1em; }
  h2 { font-size: 1.8em; margin: 0 0 .8em;}
  h3 { font-size: 1.6em; margin: 0 0 .8em;}
  h4 { font-size: 1.4em; margin: 0 0 .5em;}
  h5 { font-size: 1.2em; margin: 0 0 .5em;}
  h6 { font-size: 1.1em; margin: 0 0 .5em;}
}

@include small {
  h1 { font-size: 1.6em; margin: 0 0 1em; }
  h2 { font-size: 1.4em; margin: 0 0 .8em;}
  h3 { font-size: 1.3em; margin: 0 0 .8em;}
  h4 { font-size: 1.2em; margin: 0 0 .5em;}
  h5 { font-size: 1.1em; margin: 0 0 .5em;}
  h6 { font-size: 1em; margin: 0 0 .5em;}
}

a {
  color: #4295f0;
  text-decoration: none;
  display: inline-block;

  &:hover {
    text-decoration: underline;
  }
}

strong {
  font-family: $font-content-bold;
}

dl {
  dt {
    font-family: $font-content-bold;
    color: #666;
    display: inline-block;
    padding: .2rem .3rem;
    line-height: 1;
    font-size: .9em;
    background-color: #f5f5f5;
    border-radius: .25rem;
  }
  
  dd {
    margin: 0 0 1rem .2rem;
    
    &:before {
      content: '\01F449';
      color: #ccc;
      margin-right: .5rem;
    }
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Webpage structure
.wrapper {
  min-width: $page-min-width;
  max-width: $page-max-width;
  margin: 0 auto;

  @include large {
    padding: 0 1rem;
  }

  @include medium {
    padding: 0 1rem;
  }

  @include small {
    padding: 0;
  }

  @include clearfix();
}

.page-header {
  @include large {
    padding: 1rem 0;
  }

  @include medium {
    padding: 1rem 0;
  }

  @include small {
    padding: .5rem;
  }

  .site-title-wrapper {
    float: left;
    width: auto;

    .site-title {
      display: flex;
      align-items: stretch;
      margin: 0;
      background-color: #feb800;
      border-radius: .2rem;
      font-weight: bold;
      line-height: 1;

      a.logotype {
        line-height: 0;

        @include large {
          padding: 1.2rem .5rem 0 1.2rem;
        }

        @include medium {
          padding: 1.05rem .2rem 1.05rem 1.05rem;
        }

        @include small {
          padding: .8rem;
        }

        img {
          @include large {
            height: 1.3rem;
          }

          @include medium {
            height: 1rem;
          }

          @include small {
            height: 1.4rem;
          }
        }

        transition: all 300ms ease-in-out;
      }

      a.title {
        font-family: $font-menu;
        font-weight: bold;
        text-decoration: none;
        white-space: nowrap;
        color: black;
        text-transform: uppercase;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        @include large {
          font-size: 1em;
          padding: 1.2rem 1.5rem 1.2rem .2rem;
        }

        @include medium {
          font-size: .8em;
          padding: 1.1rem 1rem .9rem .2rem;
        }

        @include small {
          display: none;
        }

        transition: all 400ms ease-in-out;
      }

      @include large {
        &:hover {
          background-color: transparent;

          a.logotype {
            filter: invert(100%);
          }

          a.title {
            color: white;
            letter-spacing: .4rem;
            margin-left: .5rem;
          }
        }
      }

      transition: all 200ms ease-in-out;
    }
  }

  .main-navigation {
    float: right;
    text-align: right;

    @include large {
      width: 60%;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
        float: right;

        li {
          float: left;
          display: block;
          margin-left: .4rem;

          a {
            display: block;
            color: white;
            text-decoration: none;
            padding: 1.2rem 1.6rem;
            border-radius: .2rem;
            font-family: $font-menu;
            font-size: 1em;
            font-weight: bold;
            line-height: 1;
            text-transform: uppercase;
            letter-spacing: .1rem;

            &:hover {
              background-color: rgba(0,0,0,.3);
            }

            &.current {
              background-color: #4295f0;
              color: white;
            }
          }
        }

        @include clearfix();
      }
    }

    @include medium {
      width: 40%;

      ul {
        margin: 1rem 0 0;
        padding: 0;
        list-style: none;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        text-align: left;
        box-shadow: 0 .2rem 0 rgba(0, 0, 0, .2);
        z-index: 10;

        li {
          background-color: #323740;

          a {
            display: block;
            padding: 1rem 2rem;
            text-transform: uppercase;
            text-decoration: none;
            font-family: $font-menu;
            font-size: .9em;
            letter-spacing: .1rem;
            color: white;

            &:hover {
              background-color: #2D5A8B;
              color: white;
            }

            &.current {
              background-color: #4295f0;
              color: white;
            }
          }
        }
      }
    }

    @include small {
      width: 50%;

      ul {
        margin: .5rem 0 0;
        padding: 0;
        list-style: none;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        text-align: left;
        box-shadow: 0 .2rem 0 rgba(0, 0, 0, .2);
        z-index: 10;

        li {
          background-color: #323740;

          a {
            display: block;
            padding: 1rem 2rem;
            text-transform: uppercase;
            text-decoration: none;
            font-family: $font-menu;
            font-size: .9em;
            letter-spacing: .1rem;
            color: white;

            &:hover {
              background-color: #2D5A8B;
              color: white;
            }

            &.current {
              background-color: #4295f0;
              color: white;
            }
          }
        }
      }
    }

    .main-navigation-button {
      padding: 1rem;
      border-radius: .2rem;
      font-family: $font-menu;
      font-weight: bold;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: .1rem;
      background-color: rgba(255, 255, 255, .1);
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      @include large {
        display: none;
      }

      @include medium {
        display: inline-block;
        font-size: 1rem;
      }

      @include small {
        display: inline-block;
        font-size: .9rem;
      }

      &.active {
        background-color: white;
        color: black;
      }
    }
  }
}

.page-wrapper {
  .post-list-header {
    h1 {
      margin-bottom: .5rem;
      color: #fff;
      
      span {
        font-size: .7em;
        color: #858a92;
      }
    }
    
    p {
      line-height: 1.3;
      color: #858a92;
    }
    
    p:last-child {
      margin-bottom: 0;
    }
    
    .contact {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: .7em;

      @include large {
        display: flex;
        flex-wrap: wrap;
      }
      
      @include medium {
        display: flex;
        flex-wrap: wrap;
      }
      
      li {
        @include large {
          margin: 0 .25rem .25rem 0;
        }
        
        @include medium {
          margin: 0 .25rem .25rem 0;
        }
        
        @include small {
          margin: 0 .25rem .25rem 0;
        }
        
        .tag {
          background-color: #272b31;
          color: #858a92;
          
          @include small {
            padding: .75rem;
          }
          
          &:hover {
            background-color: #feb800;
            color: black;
          }
        }
      }
    }
    
    @include large {
      margin: 1rem 0;
      
      .author-photo {
        float: right;
        width: 10rem;
        margin: 0 0 2rem 2rem;
      }
      
      p {
        font-size: .9em;
      }
    }
    
    @include medium {
      margin: 1rem 0;
      
      .author-photo {
        float: right;
        width: 8rem;
        margin: 0 0 2rem 2rem;
      }
      
      p {
        font-size: .8em;
      }
    }
    
    @include small {
      margin: .5rem 0;
      padding: 1.5rem;
      
      .author-photo {
        width: 50%;
        margin: 0 auto 1rem;
        display: block;
      }
      
      p {
        font-size: .8em;
      }
    }
    
    @include clearfix();
  }
  
  .post-list {
    .post {
      .post-title {
        @include large {
          font-size: 2.6em !important; margin: 0 0 1em;
        }

        @include medium {
          font-size: 2.3em; margin: 0 0 1em;
        }

        @include small {
          font-size: 1.6em; margin: 0 0 1em;
        }
      }
    }

    .post-list-item {
      border-left: solid .5rem #4295F0;

      .box {
        margin-bottom: 1px;
      }

      .post-header {
        padding: 1rem;

        .post-title {
          display: block;
          white-space: nowrap;
          line-height: 1;
          margin-bottom: 1rem;
          
          @include large {
            float: left;
            width: 75%;
            font-size: 1.5em;
          }

          @include medium {
            float: left;
            width: 50%;
            font-size: 1.2em;
          }
        
          @include small {
            font-size: 1em;
          }
          
          a {
            color: #3C3C3C;
            text-decoration: none;
            display: inline-block;
            white-space: normal;

            &:hover {
              color: #4295f0;
            }
          }
        }

        .post-meta {
          line-height: 1;

          @include large {
            float: right;
            width: 25%;
            padding-left: 1rem;
            text-align: right;
            
            .post-meta-section {
              margin: .5rem 0 .5rem;
            }
          }

          @include medium {
            float: right;
            width: 50%;
            padding-left: 1rem;
            text-align: right;
            font-size: .9rem;
            
            .post-meta-section {
              margin: .5rem 0 .5rem;
            }
          }

          @include small {
            font-size: .8rem;
            
            .post-meta-section {
              margin: .5rem 0 .5rem;
            }
          }
          
          .post-status {
            background: #881802;
            border-radius: 3px;
            color: white;
            display: inline-block;
            overflow: hidden;
            position: relative;
            margin: 0;
            text-decoration: none;
            padding: 0 .5rem;
            
            @include large {
              font-size: .8em;
              height: 1.5rem;
              line-height: 1.5rem;
            }
            
            @include medium {
              font-size: .8em;
              height: 1.5rem;
              line-height: 1.5rem;
            }
            
            @include small {
              font-size: .9em;
              height: 1.2rem;
              line-height: 1.2rem;
            }
          }

          .readingtime {
            color: #7d8188;
            text-transform: uppercase;
            font-size: .6em;
            font-weight: bold;
            letter-spacing: .1rem;
          }
          
          .tags {
            @include large {
              margin-top: 1rem;
            }
            
            @include medium {
              margin-top: 1rem;
            }
            
            ul {
              list-style: none;
              margin: 0;
              padding: 0;
              display: flex;
              flex-wrap: wrap;
              font-size: .8em;
              
              @include large {
                justify-content: flex-end;
              }
              
              @include medium {
                justify-content: flex-end;
              }
              
              li {
                @include large {
                  margin: 0 0 .25rem .25rem;
                }
                
                @include medium {
                  margin: 0 .25rem .25rem 0;
                }
                
                @include small {
                  margin: 0 .25rem .25rem 0;
                }
              }
            }
          }
        }

        @include clearfix();
      }
    }
  }

  .post {
    .post-poster {
      a {
        display: initial;
      }

      img {
        width: 100%;
      }
    }

    .post-header {
      overflow-x: hidden;
      
      @include large {
        padding: 5rem 5rem 0;
      }

      @include medium {
        padding: 3rem 3rem 0;
      }

      @include small {
        padding: 1.5rem 1.5rem 0;
      }

      .post-title {
        display: block;
        white-space: nowrap;
        line-height: 1;
        margin-bottom: 1rem;
        
        @include large {
          float: left;
          width: 75%;
        }
        
        a {
          color: #3C3C3C;
          text-decoration: none;
          display: inline-block;
          white-space: normal;

          &:hover {
            color: #4295f0;
          }
        }
      }

      .post-meta {
        line-height: 1;

        @include large {
          float: right;
          width: 25%;
          padding-left: 1rem;
          text-align: right;
          
          .post-meta-section {
            margin: .5rem 0 .5rem;
          }
        }

        @include medium {
          font-size: .9rem;
          
          .post-meta-section {
            margin: .5rem 0 .5rem;
          }
        }

        @include small {
          font-size: .8rem;
          
          .post-meta-section {
            margin: .5rem 0 .5rem;
          }
        }
        
        .post-status {
          background: #881802;
          border-radius: 3px;
          color: white;
          display: inline-block;
          overflow: hidden;
          position: relative;
          margin: 0;
          text-decoration: none;
          padding: 0 .5rem;
          
          @include large {
            font-size: .8em;
            height: 1.5rem;
            line-height: 1.5rem;
          }
          
          @include medium {
            font-size: .8em;
            height: 1.5rem;
            line-height: 1.5rem;
          }
          
          @include small {
            font-size: .9em;
            height: 1.2rem;
            line-height: 1.2rem;
          }
        }

        .readingtime {
          color: #7d8188;
          text-transform: uppercase;
          font-size: .6em;
          font-weight: bold;
          letter-spacing: .1rem;
        }
        
        .tags {
          @include large {
            margin-top: 2rem;
          }
          
          ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            font-size: .8em;
            
            @include large {
              justify-content: flex-end;
            }
            
            li {
              @include large {
                margin: 0 0 .25rem .25rem;
              }
              
              @include medium {
                margin: 0 .25rem .25rem 0;
              }
              
              @include small {
                margin: 0 .25rem .25rem 0;
              }
            }
          }
        }
      }

      @include clearfix();
    }

    .post-header + .post-content {
      padding-top: 1rem;
    }

    .post-content {
      font-family: $font-content;
      clear: both;

      @include large {
        padding: 5rem;
        font-size: 1em;
      }

      @include medium {
        padding: 3rem;
        font-size: 1em;
      }

      @include small {
        padding: 1.5rem;
        font-size: .8em;
      }
      
      .excerpt {
        color: #5A5A5A;

        @include large {
          font-size: 1.6em;
          padding: 2rem 5rem;
          margin: 0 -5rem 3rem;
        }

        @include medium {
          font-size: 1.5em;
          padding: 1.5rem 3rem;
          margin: 0 -3rem 2rem;
        }

        @include small {
          font-size: 1.4em;
          padding: 1.5rem;
          margin: 0 -1.5rem 1.5rem;
        }

        p:last-child {
          margin-bottom: 0;
        }
      }

      figure,
      img,
      iframe {
        max-width: 100%;
        
        &.float-left, &.float-right {
          @include medium {
            max-width: 75%;
          }
          
          @include small {
            max-width: 50%;
          }
        }
      }

      figure {
        figcaption {
          font-size: .75em;
          line-height: 1;
          color: slategray;
          margin-top: .5rem;
        }
      }
      
      ul ul,
      ol ol,
      ul ol,
      ol ul {
        margin-bottom: 0;
      }

      p,
      li {
        line-height: 1.5;
      }
      
      li {
        margin-bottom: .5rem;
      }

      blockquote {
        background: #f5f5f5;
        border-radius: .2rem;
        color: #666;
        font-style: normal;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        border-left: solid .4rem #666;

        @include large {
          padding: 2rem;
        }

        @include medium {
          padding: 2rem;
        }

        @include small {
          padding: 1rem;
        }
        
        p:last-child {
          margin-bottom: 0;
        }
      }

      pre,
      code {
        font-family: $font-mono;
        margin: 0;
      }

      code.highlighter-rouge {
        padding: .2rem .5rem;
        border-radius: .2rem;
        background-color: #f5f5f5;
        border: 1px solid #dcdcdc;
        line-height: 1.2;
        display: inline-block;
        white-space: pre-line;
        color: #5c6b70;
      }

      .highlight {
        line-height: 1.5;

        table {
          margin: 0;
        }

        .gutter {
          padding-right: 1rem;
          color: #D9D9D9;
        }

        & > pre {
          @include large {
            padding: 1rem;
          }

          @include medium {
            padding: .8rem;
          }

          @include small {
            padding: .5rem;
          }

          border-radius: .2rem;
          border: solid 1px #ccc;
        }
      }

      .post-content-buttons {
        margin-top: 2rem;
      }

      @include clearfix();
    }

    #disqus_thread {
      clear: both;

      @include large {
        padding: 5rem;
        font-size: 1em;
      }

      @include medium {
        padding: 3rem;
        font-size: 1em;
      }

      @include small {
        padding: 1.5rem;
        font-size: .8em;
      }
    }
    
    .tags-index {
      .tags {
        margin-bottom: 2rem;
        
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          
          li {
            margin: 0 .25rem .25rem 0;
          }
        }
      }
    }
    
    .generic-post-list {
      .header {
        margin: 0 0 .2rem;
      }
      
      ul {
        list-style: none;
        margin-bottom: 2rem;
        padding: 0;

        li {
          margin: 0;
          display: flex;
          align-items: center;
          flex-direction: row;
          // border-bottom: solid 1px #CACACA;

          .post-date {
            color: #797979;
            font-size: .8em;
            padding: .25rem .5rem;
            text-align: right;
            
            @include large {
              flex: 0 0 8rem;
            }
            
            @include medium {
              flex: 0 0 7rem;
            }
            
            @include small {
              flex: 0 0 6rem;
            }
          }

          .post-name {
            padding: .25rem .5rem;
          }
        }
      }
    }
  }

  .pagination {
    margin: 0 0 1rem 0;
    background-color: white;
    color: $font-content-color;
    font-size: .9em;

    .previous,
    .page_number,
    .next {
      display: block;
      float: left;
      padding: 1rem;
      text-align: center;
      width: 33.33333333333333333%;
      color: gray;
    }

    .next {
      float: right;
    }

    a.previous,
    a.next {
      color: #4295f0;
      text-decoration: none;

      &:hover {
        background-color: #4295f0;
        color: white;
      }
    }

    @include small {
      .label {
        display: none;
      }
    }

    @include clearfix();
  }

  .box {
    background-color: white;
    color: $font-content-color;

    @include large {
      margin: 0 0 2rem 0;
    }

    @include medium {
      margin: 0 0 1rem 0;
    }

    @include small {
      margin: 0 0 1px 0;
    }
  }

  @include clearfix();
}

.padding {
  @include large {
    padding: 5rem;
    font-size: 1em;
  }

  @include medium {
    padding: 3rem;
    font-size: 1em;
  }

  @include small {
    padding: 1.5rem;
    font-size: .8em;
  }
}

.page-footer {
  font-size: .75em;
  color: #888D98;
  font-weight: bold;
  margin-top: 2rem;

  @include large {
    padding-bottom: 5rem;

    .site-info {
      float: left;
      width: 50%;
    }

    .hosting-info {
      text-align: right;
      float: right;
      width: 50%;

      img {
        display: inline-block;
        vertical-align: bottom;
        width: 100px;
        padding-left: 5px;
      }
    }
  }

  @include medium {
    padding-bottom: 5rem;

    .site-info {
      float: left;
      width: 50%;
    }

    .hosting-info {
      text-align: right;
      float: right;
      width: 50%;

      img {
        display: inline-block;
        vertical-align: bottom;
        width: 100px;
        padding-left: 5px;
      }
    }
  }

  @include small {
    font-size: .65em;
    padding: .5rem .5rem 2rem;
    text-align: center;

    p {
      margin-bottom: .5rem;
    }

    .hosting-info {
      img {
        display: inline-block;
        vertical-align: bottom;
        width: 80px;
        padding-left: 5px;
      }
    }
  }

  @include clearfix();
}

// Downscaling retina images
@include large() {
  img.downscale {
    width: 50%;
  }
}

// Front page stuff
.front-page-post-list {
  list-style: none;
  padding: 0;
    
  .front-page-post-list-link {
    color: #3C3C3C;
    line-height: 1.1;
  }
  
  .front-page-post-list-date {
    font-family: $font-content;
    color: #999;
    display: inline-block;
    line-height: 1;
    font-size: .8em;
  }
  
  .front-page-post-list-excerpt {
    margin-top: .5rem;
    font-size: .8em;
    color: #666;
  }
}

// Some resets
p, table, ul, ol, dl, blockquote, form, s, figure, .highlight {
  display: block;
  margin-bottom: 2rem;
}
