a.silent {
    background: transparent !important;
    &:hover {
        background: transparent !important;
    }
}

.no-wrap {
    white-space: nowrap;
}

.float {
    position: absolute;
    &.float--top {
        top: 0;
    }
    &.float--right {
        right: 0;
    }
    &.float--bottom {
        bottom: 0;
    }
    &.float--left {
        left: 0;
    }
    &.float--top-right {
        top: 0;
        right: 0;
    }
}

.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}

.strike {
    text-decoration: line-through;
    opacity: .5;
}

.inline--baseline {
    display: inline-flex;
    align-items: baseline;
}

.inline--center {
    display: inline-flex;
    align-items: center;
}
