// Media query breakpoints
@mixin small {
  @media (max-width: #{$page-medium-width - 1px}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$page-medium-width}) and (max-width: #{$page-large-width - 1px}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$page-large-width}) {
    @content;
  }
}

@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}
