.post-meta {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    @include media('<desktop') {
        flex-direction: column;
    }

    .date {
        margin-right: 1rem;
        color: #555;
    }

    .tags {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;

            li {
                line-height: 1;
                margin: {
                    right: .25rem;
                    bottom: .25rem;
                }

                a.tag {
                    background-color: #ffe0a2;
                    color: #303030;
                    line-height: 1;
                    font-size: .7em;
                    text-transform: uppercase;
                    font-weight: bold;
                    white-space: nowrap;

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}
