.photo-gallery {
    display: flex;
    flex-wrap: wrap;

    @include media('>tablet') {
        flex-basis: 100%;
        margin: {
            left: -2rem;
            right: -2rem;
            bottom: -2rem;
        }
    }

    .photo {
        position: relative;
        flex: 0 1 50%;

        @include media('<tablet') {
            flex-basis: 100%;
        }

        &:hover {
            cursor: pointer;
        }

        .photo__title {
            position: absolute;
        }

        a {
            padding: 0;

            img {
                width: 100% !important;
                height: auto !important;
            }
        }
    }
}
