$animationEaseing: cubic-bezier(.75,-0.5,0,1.75);

.gallery__title {
    margin: 0;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    background-color: #333333;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%232f2f2f' fill-opacity='1' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");

    @include media('<=phone') {
        margin: {
            left: -1rem;
            right: -1rem;
            bottom: -1rem;
        }
    }
    @include media('>phone', '<desktop') {
        margin: {
            left: -1.5rem;
            right: -1.5rem;
            bottom: -1.5rem;
        }
    }
    @include media('>=desktop') {
        margin: {
            left: -2rem;
            right: -2rem;
            bottom: -2rem;
        }
    }

    .photo {
        position: relative;
        flex: 0 1 50%;
        min-height: 400px;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: box-shadow 250ms ease;
        
        &:first-child {
            flex-basis: 100%;
        }

        @include media('<desktop') {
            flex-basis: 100%;
            min-height: 200px;
            padding-bottom: 100%;

            &:not(:last-child) {
                margin-bottom: 1px;
            }
        }

        &:hover {
            cursor: pointer;
            z-index: 100;
            position: relative;

            @include media('>=desktop') {
                // box-shadow: .5rem .5rem 2rem rgba(0,0,0,.5);
                box-shadow: inset 0 0 0 1px rgba(0,0,0,1);
            }

            .photo__data {
                transform: translateX(0);
                background-color: rgba(0,0,0,.5);
            }
        }
        
        .photo__data {
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: baseline;
            top: 0;
            left: 0;
            right: 0;
            padding: .5rem;
            background-color: rgba(0,0,0,0);
            color: #fff;
            transform: translateY(-100%);
            transition: transform 250ms ease, background-color 250ms ease;

            @include media('<desktop') {
                flex-direction: column;
            }

            .data__post {
                font-size: .7em;
                padding: .25rem .5rem;
                display: flex;
                align-items: center;
                white-space: nowrap;

                .label {
                    color: #000;
                    font-weight: bold;
                    font-size: .8em;
                    text-transform: uppercase;
                    line-height: 1;
                    padding: .25rem;
                    display: inline-block;
                    background-color: rgba(255,255,255,.5);
                    border-radius: 3px;
                    margin-right: .5rem;
                }
            }

            .photo__title {
                font-family: 'Source Sans Pro', sans-serif;
                color: inherit;
                font-size: .8em;
                font-weight: normal;
                margin-bottom: 0;
            }
        }
    }
}
