@import url('https://fonts.googleapis.com/css?family=Miriam+Libre:700|Roboto+Mono');

body {
    padding: 0;
    margin: 0;
    background-color: #222222;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.header {
    font-family: 'Miriam Libre', sans-serif;
    font-weight: 700;
    margin: .5rem 0 1rem;
    line-height: 1;

    &.no-margin {
        margin: 0;
    }
}

h2,
.header {
    margin-bottom: 2rem;
}

blockquote {
    position: relative;
    margin: 0 0 2rem;
    padding: 1rem 1rem 1rem 2rem;
    font-style: italic;
    font-family: 'Miriam Libre', sans-serif;

    &:before {
        content: "\"";
        display: inline-block;
        position: absolute;
        font-size: 5rem;
        font-style: initial;
        top: 0;
        left: -18px;
        line-height: 1;
        opacity: 0.3;
    }

    cite {
        display: block;
        opacity: 0.5;
        margin-left: 1rem;

        &:before {
            content: '~';
            margin-right: 5px;
        }
    }
}

a {
    $linkPadding: 0;
    $linkColor: #61afef;
    color: $linkColor;
    display: inline-block;
    line-height: 1;
    padding: $linkPadding;
    color: $linkColor;

    background: {
        position: left bottom;
        size: 0 100%;
        repeat: no-repeat;
    }

    transition: background-size 250ms ease,
    color 250ms ease;

    &:hover {
        text-decoration: none;
        background-size: 100% 100%;
    }
}

figure {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 0 2rem;

    &.column {
        flex-direction: column;
        // align-items: center;
    }

    @include media('>=desktop') {
        &.limit {
            img {
                max-width: 75%;
            }
        }
    }

    figcaption {
        flex: 1 1 100%;
        opacity: .5;
        font-size: .8em;
        font-style: italic;
        padding: 5px;
    }
}

img {
    max-width: 100%;
}

.app {
    display: flex;
    flex-direction: column;
}

.page-header {
    background-color: #222;
    color: #fff;

    @include media('<=phone') {
        padding: 0 .5rem;
    }

    @include media('>phone',
        '<desktop') {
        padding: 0 1rem;
    }

    @include media('>=desktop') {
        padding: 0 2rem;
    }

    .page-header__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .brand-wrapper {
        display: flex;
        align-items: center;

        @include media('<=500px') {
            justify-content: center;
        }

        .brand-text {
            display: inline-block;
            color: #8a8a8a;
            line-height: 1;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 700;
            white-space: nowrap;
            font-size: .8em;

            @include media('<=500px') {
                display: none;
            }

            @include media('>500px',
                '<desktop') {
                margin-top: 20px;
            }

            @include media('>=desktop') {
                margin-top: 30px;
            }

            .pulse {
                display: inline-block;
                line-height: 1;
                padding: 3px 5px;
                margin: 0 5px;
                border-radius: 2px;
                box-shadow: 0 0 0 #6CB3F8;
                color: #222;
                background-color: #6CB3F8;
                animation: pulse 2s infinite;
            }
        }

        a {
            margin: 0;
            padding: 0;
        }

        .logotype {
            border-radius: 3px;
            overflow: visible;
            background-color: #222;
            transform: translateY(20%);

            @include media('<=phone') {
                width: 80px;
                padding: 10px;
                margin-top: -10px;
            }

            @include media('>phone',
                '<desktop') {
                width: 100px;
                padding: 15px;
                margin-top: -5px;
            }

            @include media('>=desktop') {
                width: 150px;
                padding: 20px;
                margin-top: -10px;
            }

            .body {
                fill: #cd3700;
            }

            .shadow {
                fill: #601900;
            }

            .letter {
                fill: #e0b2a1;
            }
        }
    }

    .main-navigation {
        .navigation-button {
            padding: .8rem .8rem .65rem;
            margin: .5rem 0;
            line-height: 1;
            border: solid 1px rgba(255, 255, 255, .2);
            border-radius: 3px;
            font-family: 'Miriam Libre', sans-serif;
            color: #ffffff;
            cursor: pointer;

            @include media('>=desktop') {
                display: none;
            }

            &.active {
                background-color: rgba(255, 255, 255, .2);
                border-color: transparent;
            }
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;

            @include media('<desktop') {
                display: none;
            }

            li {
                a {
                    padding: 1rem;
                    font-weight: bold;

                    &.current {
                        background-color: #000;
                        color: #fff;
                    }
                }
            }
        }
    }

}

.mobile-navigation {
    display: none;
    background-color: #0a0a0a;
    padding: .5rem;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;

        li {
            a {
                padding: .8rem;
                border-radius: 3px;
                font-weight: bold;

                &.current {
                    background-color: #1969ab;
                    color: #cee8fd;
                }
            }
        }
    }
}

.section {
    overflow: hidden;

    @include media('<=phone') {
        padding: .5rem;
    }

    @include media('>phone',
        '<desktop') {
        padding: .5rem;
    }

    @include media('>=desktop') {
        padding: 1rem 0;
    }

    h1 {
        @include media('<=phone') {
            font-size: 1.5em;
        }

        @include media('>phone', '<desktop') {
            font-size: 2em;
        }

        @include media('>=desktop') {
            font-size: 2.5em;
        }
    }

    .section__header {
        @include media('<=phone') {
            font-size: 1.5em;
        }

        @include media('>phone', '<desktop') {
            font-size: 2em;
        }

        @include media('>=desktop') {
            font-size: 2.2em;
        }
    }

    &.section--hero {
        color: #bbbbbb;
        background-image: linear-gradient(45deg, #222, #444);

        @include media('<=phone') {
            padding-top: 2rem;
            font-size: .8em;
        }

        @include media('>phone',
            '<desktop') {
            padding-top: 2rem;
            font-size: .8em;
        }

        @include media('>=desktop') {
            padding-top: 2rem;
            font-size: 1em;
        }

        .page-title {
            color: #000;
            background-color: #ffa800;
            line-height: 1;
            padding: 1rem 1.2rem .75rem;
            margin-bottom: 2rem;
            border-radius: 2px;
            border-bottom: solid .5rem #c48300;

            @include media('<=500px') {
                display: block;
                text-align: center;
            }

            @include media('>500px') {
                display: inline-block;
            }
        }

        .hero__list {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                &:before {
                    font-family: 'Miriam Libre', sans-serif;
                    font-size: 1.2em;
                    display: inline-flex;
                    margin-right: .5rem;
                    border-radius: 5px;
                    line-height: 1;
                    width: 2ch;
                    height: 2ch;
                    justify-content: center;
                    align-items: center;
                }

                &.check:before {
                    content: '\2713';
                    color: #97ffa3;
                }

                &.times:before {
                    content: '✖';
                    color: #ff6334;
                }

                &.question:before {
                    content: '?';
                    color: #ffa800;
                }

                .label {
                    font-family: 'Miriam Libre', sans-serif;
                    color: #ffe0a2;
                }
            }
        }

        .sticker {
            display: inline-block;
            line-height: 1;
            padding: .5rem;
            margin-bottom: 1px;
            border-radius: 3px;
            background-color: rgba(0, 0, 0, .2);
        }
    }

    &.section--mini-hero {
        background-color: #333333;

        @include media('<=phone') {
            font-size: .8em;
        }

        @include media('>phone',
            '<desktop') {
            font-size: .8em;
        }

        @include media('>=desktop') {
            font-size: 1em;
        }
    }

    &.section--blog {
        $textColor: #bde5ff;
        $linkColor: #61afef;
        $headerColor: #fff;
        color: $textColor;
        background-image: linear-gradient(#49698a, #20364e);

        a {
            color: $linkColor;
            background-image: linear-gradient($linkColor, $linkColor);

            &:hover {
                @include text-contrast($linkColor);
            }
        }
    }

    &.section--web-development {
        $textColor: #093910;
        $linkColor: #00470b;
        $headerColor: #fff;
        color: $textColor;
        background-image: linear-gradient(-135deg, #4cd761, #237d31);

        a {
            color: $linkColor;
            background-image: linear-gradient($linkColor, $linkColor);

            &:hover {
                @include text-contrast($linkColor);
            }
        }
    }

    &.section--photo {
        $textColor: #481b07;
        $linkColor: #9b3c00;
        $headerColor: #644300;
        color: $textColor;
        background-image: linear-gradient(-135deg, #fdcd48, #ffa800);

        a {
            color: $linkColor;
            background-image: linear-gradient($linkColor, $linkColor);

            &:hover {
                @include text-contrast($linkColor);
            }
        }
    }

    &.section--misc {
        $textColor: #848e92;
        $linkColor: #78d354;
        $headerColor: #418029;
        color: $textColor;
        background-image: linear-gradient(45deg, #222, #444);

        a {
            color: $linkColor;
            background-image: linear-gradient($linkColor, $linkColor);

            &:hover {
                @include text-contrast($linkColor);
            }
        }
    }

    &.section--low-prio-small-screens {
        @include media('<desktop') {
            order: 10;
        }
    }

    &.section--hidden-small-screens {
        @include media('<desktop') {
            display: none;
        }
    }

    &.section--closed {
        $textColor: #333;
        $linkColor: #0062b3;
        $headerColor: #314352;
        color: $textColor;
        padding: 0;
        background-image: linear-gradient(45deg, #d4d4d4, #f6f6f6);

        a {
            color: $linkColor;
            background-image: linear-gradient($linkColor, $linkColor);

            &:hover {
                @include text-contrast($linkColor);
            }
        }

        .closed-graphics {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 0;
            padding: 20px;
            background-color: #f2f2f2;
            border-bottom: solid 1px #fff;
            border-top: solid 1px #c2c1c2;
            box-shadow: inset 0 -1px 0 #c2c1c2, inset 0 1px 0 #fff;
            position: relative;
            z-index: 1;
            cursor: not-allowed;
            transition: padding 250ms ease, margin 250ms ease;

            &:before {
                content: '';
                border-bottom: solid 1px #8d8d8d;
                box-shadow: 0 -1px 0 rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, 1);
                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
                transform: translateY(-1px);
                transition: transform 250ms ease, border 250ms ease;
            }

            &:hover {
                padding: 30px;
                margin: 10px 0;

                &:before {
                    border-width: 20px;
                    transform: translateY(-11px);
                    border-color: #414141;
                }

                .lock {
                    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 3px 3px 12px rgba(0, 0, 0, 0.2);
                    transform: scale(1.3);
                }
            }

            .lock {
                width: 4rem;
                height: 4rem;
                background-color: #c2c2c2;
                border-radius: 50%;
                padding: .5rem;
                z-index: 2;
                border: solid 2px #414141;
                box-shadow: -1px -1px 0 #00000026, 1px 1px 0 #ffffff78;
                transition: border 250ms ease, box-shadow 250ms ease, transform 250ms;
            }
        }
    }

    .share-list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        font-size: .9em;
        flex-wrap: wrap;

        &.align--right {
            justify-content: flex-end;
        }

        @include media('<desktop') {
            justify-content: flex-start;
        }

        li {
            @include media('<desktop') {
                flex: 1 1;
            }

            a {
                display: flex;
                background-color: #656565;
                margin: .3rem;
                padding: .4rem .6rem;
                font-size: .9rem;
                font-weight: bold;
                color: #cecece;
                box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
                border-radius: 3px;
                text-shadow: 1px 1px rgba(0, 0, 0, .2);

                &:hover {
                    color: #fff;
                    background-image: linear-gradient(#6cb3f8, #579ada);
                }
            }
        }
    }

    &.section--default {
        $textColor: #333;
        $linkColor: #0062b3;
        $headerColor: #314352;
        color: $textColor;
        background-color: #f5f5f5;

        a {
            color: $linkColor;
            background-image: linear-gradient($linkColor, $linkColor);

            &:hover {
                @include text-contrast($linkColor);
            }
        }
    }
}

.page-footer {
    font-size: .8em;
    color: #aaa;
    background-color: #222;
    order: 99;

    .col {
        @include media('<=tablet') {
            text-align: center;
        }

        @include media('>tablet') {
            &:last-child {
                text-align: right;
            }
        }
    }

    .footer-title {
        display: inline-block;
        color: #000;
        background-color: #ffa800;
        line-height: 1;
        padding: .6rem 1rem .5rem;
        border-radius: 2px;
        font-size: 1.3rem;
        border-bottom: solid .2rem #c48300;
    }

    .sticker {
        display: inline-block;
        line-height: 1;
        padding: .5rem;
        margin-bottom: 1px;
        border-radius: 3px;
        background-color: rgba(0, 0, 0, .2);
    }

    .hosted-by-logo {
        width: 4rem;
        margin-left: 5px;
    }
}

.link__list {
    list-style: none;
    margin: 0 0 2rem;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
        padding: .2rem;

        .link {
            $linkColor: #6FB4F6;
            background-color: rgba(0, 0, 0, .2);
            display: block;
            line-height: 1;
            padding: .5rem;
            color: $linkColor;
            background-image: linear-gradient($linkColor, $linkColor);

            &:hover {
                @include text-contrast($linkColor);
            }

            & {
                &--twitter {
                    $linkColor: #33A4EC;
                    background-image: linear-gradient($linkColor, $linkColor);

                    &:hover {
                        @include text-contrast($linkColor);
                    }
                }

                &--facebook {
                    $linkColor: #466AAE;
                    background-image: linear-gradient($linkColor, $linkColor);

                    &:hover {
                        @include text-contrast($linkColor);
                    }
                }

                &--github {
                    $linkColor: #ffffff;
                    background-image: linear-gradient($linkColor, $linkColor);

                    &:hover {
                        @include text-contrast($linkColor);
                    }
                }

                &--codepen {
                    $linkColor: #FACE43;
                    background-image: linear-gradient($linkColor, $linkColor);

                    &:hover {
                        @include text-contrast($linkColor);
                    }
                }

                &--fivehundredpx {
                    $linkColor: #43BC55;
                    background-image: linear-gradient($linkColor, $linkColor);

                    &:hover {
                        @include text-contrast($linkColor);
                    }
                }

                &--artstation {
                    $linkColor: #31B1EA;
                    background-image: linear-gradient($linkColor, $linkColor);

                    &:hover {
                        @include text-contrast($linkColor);
                    }
                }
            }
        }
    }
}

.page-tools {
    @include media('<desktop') {
        display: none;
    }

    .page-tools__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.slice {
    margin: {
        left: auto;
        right: auto;
    }

    max-width: 1400px;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #6CB3F8;
    }

    70% {
        box-shadow: 0 0 0 .5rem rgba(108, 178, 248, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(108, 178, 248, 0);
    }
}

.switch {
    background-color: #bebebe;
    border-radius: 20px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0;
    position: relative;
    width: 40px;
    transition: background-color 0.2s ease-in-out;

    &.checked {
        background-color: #76d21d;
    }

    input[type="checkbox"] {
        cursor: pointer;
        margin: 5px;
        display: block;
        justify-content: center;
        align-items: center;
        line-height: 1;
        transition: margin 0.2s ease-in-out;
    }

    &.checked input[type="checkbox"] {
        margin-left: 23px;
    }

    input:before {
        display: block;
        background: #fff;
        background: linear-gradient(to bottom, #fff 0%, #f0f0f0 100%);
        border-radius: 20px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
        content: '';
        height: 18px;
        line-height: 1;
        width: 18px;
        transform: translate(-3px, -3px);
    }
}




.💩 {
    display: block;
    text-align: center;
    font-weight: bold;
    font-family: 'Miriam Libre', sans-serif;

    @include media('<=phone') {
        font-size: .8em;
    }

    @include media('>phone',
        '<desktop') {
        font-size: 1em;
    }

    @include media('>=desktop') {
        font-size: 1.5em;
    }
}
