// Sizes
$page-max-width: 1200px;
$page-large-width: 1024px;
$page-medium-width: 768px;
$page-min-width: 300px;

// Typography
$font-ui: 'Museo Sans Rounded', Helvetica, Arial, sans-serif;
$font-ui-bold: 'Museo Sans Rounded Bold', Helvetica, Arial, sans-serif;
$font-menu: 'Museo Sans Rounded Bold', Helvetica, Arial, sans-serif;
$font-header: 'Museo Sans Rounded Bold', Helvetica, Arial, sans-serif;
$font-content: 'Museo Sans Rounded', Helvetica, Arial, sans-serif;
$font-content-bold: 'Museo Sans Rounded Bold', Helvetica, Arial, sans-serif;
$font-mono: Consolas, 'Roboto Mono', monospace, serif;

// Colors
$font-content-color: #3C3C3C;

$color-generic: #4295F0;
$color-ok: #080;
$color-warning: #ffa800;
$color-error: #800;

$button-generic-background: $color-generic;
$button-generic-color: lighten($color-generic, 35);

$button-ok-background: $color-ok;
$button-ok-color: lighten($color-ok, 60);

$button-warning-background: $color-warning;
$button-warning-color: lighten($color-warning, 40);

$button-error-background: $color-error;
$button-error-color: lighten($color-error, 60);
