<div class="carousel">
    <ul id="carousel" class="carousel-list"></ul>
    <div id="carousel-page-indicator" class="carousel-page-indicator">
        <div class="indicator__title"></div>
    </div>
</div>
