<section class="section section--default">
    <div class="slice">
        <div class="row">
            <div class="col col--full card card--ghost">
                <div class="card__body">
                    <h2 class="section__header">Oh, snap!</h2>
                    <p>
                        This page is not open yet. Please check back later.<br />
                        Meanwhile, check out <a href="{{ site.baseurl }}photo">the photography</a> section.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
