<section class="section section--closed">
    <div class="slice">
        <div class="row">
            <div class="col col--full card card--ghost">
                <div class="card__body">
                    <h2 class="section__header">Hej!</h2>
                    <p>
                        Sidan är under uppbyggnad, så för närvarande finns inte mycket innehåll på sidan.<br />
                        Tills vidare får du gärna ta en titt på <a href="{{ site.baseurl }}/photo">fotobloggen</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="closed-graphics">
        <img class="lock" src="{{ site.baseurl }}/assets/img/locked.svg" alt="Låst">
    </div>
</section>
