<section class="section section--default">
    <div class="slice">
        <div class="row">
            <div class="col col--full card card--ghost">
                <div class="card__body">
                    <h2 class="section__header">Oh, snap!</h2>
                    <p>
                        Sidan är stängd för tillfället.<br />
                        Tills vidare, kolla in lite <a href="{{ site.baseurl }}photo">foton</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
