<footer class="page-footer section">
    <div class="slice">
        <div class="row">
            <div class="col col--1-2">
                <h5 class="footer-title">Per Ragnar Edin</h5>
            </div>
            <div class="col col--1-2">
                <p class="inline--center">
                  Hosted by <a href="https://netlify.com/" target="_blank"><img src="/assets/img/footer-netlify-logo.svg" alt="Netlify" class="hosted-by-logo" /></a>
                </p>
                <p>
                    <a href="https://app.netlify.com/sites/perragnar/overview" target="_blank"><img src="https://api.netlify.com/api/v1/badges/6d70a6f3-81c7-49ac-847f-124de5bd40f9/deploy-status" alt="Netlify Status"></a>
                </p>
                <p>
                    <a href="{{ site.github.repository_url }}/tree/master/{{ page.relative_path }}" class="button button--black button--smallest button--rounded">Redigera</a>
                </p>
            </div>
        </div>
    </div>
</footer>
