<header class="page-header">
    <div class="slice">
        <div class="page-header__content">
            <div class="brand-wrapper animate animate--fade-in animate--slide-right">
                <div class="brand-text">
                    I am
                </div>
                <a href="{{ site.baseurl }}/">
                    <svg class="logotype" width="50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 198.44 113">
                        <polygon class="body" points="135.23 12.04 135.23 0 72.94 12.04 72.94 0 0 13.66 0 113 62.75 100.73 73.29 98.53 62.75 113 125.97 100.5 136.74 98.3 125.97 113 198.44 98.88 198.44 0 135.23 12.04"
                        />
                        <polygon class="shadow" points="62.75 100.73 62.75 113 73.29 98.53 62.75 100.73" />
                        <polygon class="shadow" points="125.97 100.5 125.97 113 136.74 98.3 125.97 100.5" />
                        <path class="letter" d="M41.49,37.5a17.31,17.31,0,0,1,4.91-.05,8.84,8.84,0,0,1,3.81,1.42,7.23,7.23,0,0,1,2.47,3,11.65,11.65,0,0,1,.88,4.81q0,5.9-3,9T41.8,59.66l-4.89.69v11l-8.63,1.21V39.36ZM38.37,53.18q1.19-.17,2.29-.39a6.66,6.66,0,0,0,2-.72A3.78,3.78,0,0,0,44,50.68a4.75,4.75,0,0,0,.53-2.43,4.45,4.45,0,0,0-.51-2.37,2.51,2.51,0,0,0-1.34-1.07,5,5,0,0,0-2-.18q-1.15.09-2.38.27l-1.45.2v8.28Z"
                            transform="translate(-0.78 -0.44)" />
                        <path class="letter" d="M108.13,70.36,100,58.73H99.9V71.52l-8.63,1.21V39.52l12.91-1.81a16.44,16.44,0,0,1,4.58,0A8.59,8.59,0,0,1,112.41,39a7.09,7.09,0,0,1,2.42,2.85,10.15,10.15,0,0,1,.88,4.46,12.19,12.19,0,0,1-.46,3.35,10.61,10.61,0,0,1-1.39,3,10.24,10.24,0,0,1-2.29,2.44,10,10,0,0,1-3.13,1.61l10.44,12.14Zm-7.4-17.28a18,18,0,0,0,2.11-.43,6.55,6.55,0,0,0,1.92-.84,4.59,4.59,0,0,0,1.41-1.45,4.24,4.24,0,0,0,.55-2.26,3.47,3.47,0,0,0-.55-2.1,3.06,3.06,0,0,0-1.41-1.06,5.22,5.22,0,0,0-1.92-.3,17.09,17.09,0,0,0-2.11.16l-.84.12V53.2Z"
                            transform="translate(-0.78 -0.44)" />
                        <path class="letter" d="M164.27,50.56,174,49.19V56.5l-9.73,1.37v5.73l10.26-1.44v7.31l-18.9,2.66V38.91l18.9-2.66v7.31L164.27,45Z"
                            transform="translate(-0.78 -0.44)" />
                    </svg>
                </a>
                <div class="brand-text">
                    and I
                    <span class="pulse">create</span> stuff
                </div>
            </div>
            <nav class="main-navigation animate animate--fade-in animate--slide-left">
                <div class="main-navigation-button">MENY</div>
                <ul>
                    {% for link in site.data.navigation %}
                        <li>
                            <a href="{{ site.baseurl }}{{ link.url }}"{% if page.url == link.url or (link.title == 'Blog' and page.layout == 'post') %} class="current"{% endif %}>{{ link.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>
