<header id="page-header" class="page-header page-header--full section">
    <nav class="page-navigation">
        <ul class="navigation-list">
            <li class="nav-item active">
                <a href=".">Hem</a>
            </li>
            <li class="nav-item">
                <a href="#">Foto</a>
            </li>
            <li class="nav-item nav-logo">
                <a href=".">
                    <svg class="logotype logotype--nav" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 238.2 196.1" xml:space="preserve">
                        <g>
                            <path class="logo-element" d="M226,29.2h-59.1v0c-0.9-0.5-1.7-1.1-2.6-1.6V11.4c0-6.3-5.1-11.4-11.4-11.4H85.5C79.2,0,74,5.1,74,11.4v16.2
                            c-0.9,0.5-1.8,1-2.6,1.5h-20v-6.7c0-4.4-3.1-7.8-7.1-7.8H25.5c-4,0-7.1,3.4-7.1,7.8v6.7h-6.2C5.5,29.2,0,34.7,0,41.4v132.2
                            c0,6.8,5.5,12.3,12.3,12.3h64.8c12.6,6.5,26.9,10.2,42.1,10.2s29.5-3.7,42.1-10.2H226c6.8,0,12.3-5.5,12.3-12.3V41.4
                            C238.2,34.7,232.7,29.2,226,29.2z M84.8,11.4c0-0.4,0.3-0.7,0.7-0.7h67.3c0.4,0,0.7,0.3,0.7,0.7v11c-10.6-4.3-22.2-6.7-34.4-6.7
                            c-12.2,0-23.8,2.4-34.4,6.7V11.4z M29.2,25.3h11.5v3.8H29.2V25.3z M12.3,175.2c-0.9,0-1.6-0.7-1.6-1.6V41.4c0-0.9,0.7-1.6,1.6-1.6
                            h45c-17.9,16.5-29.1,40-29.1,66.1c0,27.8,12.7,52.7,32.7,69.3H12.3z M119.1,185.4c-21.5,0-41.6-8.3-56.8-23.3
                            c-15.1-15-23.5-35-23.5-56.2c0-21.2,8.3-41.2,23.5-56.2c15.2-15,35.3-23.3,56.8-23.3s41.6,8.3,56.8,23.3c15.1,15,23.5,35,23.5,56.2
                            c0,21.2-8.3,41.2-23.5,56.2C160.7,177.2,140.6,185.4,119.1,185.4z M227.5,173.7c0,0.9-0.7,1.6-1.6,1.6h-48.6
                            c20-16.5,32.7-41.4,32.7-69.3c0-26.1-11.2-49.6-29.1-66.1h45c0.9,0,1.6,0.7,1.6,1.6V173.7z" />
                            <path class="logo-element" d="M119.1,35.5c-38.9,0-70.4,31.5-70.4,70.4s31.5,70.4,70.4,70.4c38.9,0,70.4-31.5,70.4-70.4S158,35.5,119.1,35.5
                            z M119.1,166.4c-12.7,0-24.5-3.9-34.2-10.7c11.2-2.3,22.7-3.5,34.2-3.5c11.6,0,23,1.2,34.2,3.5
                            C143.6,162.5,131.8,166.4,119.1,166.4z M162.8,147.7c-5.5-1.4-11.1-2.5-16.7-3.4v-17.6l10.3,8c0.7,0.5,1.4,0.8,2.3,0.8
                            c1.2,0,2.2-0.5,2.9-1.4c1.3-1.6,1-3.9-0.7-5.2l-14.8-11.5v-5.5l10.3,8c0.7,0.5,1.4,0.8,2.3,0.8c1.2,0,2.2-0.5,2.9-1.4
                            c1.3-1.6,1-3.9-0.7-5.2l-14.8-11.5V97l10.3,8c0.7,0.5,1.4,0.8,2.3,0.8c1.2,0,2.2-0.5,2.9-1.4c1.3-1.6,1-3.9-0.7-5.2l-18.6-14.5
                            l-18.5,14.5c-1.6,1.3-1.9,3.6-0.6,5.2c1.3,1.6,3.6,1.9,5.2,0.6l10.3-8.1v5.4L123.9,114c-1.6,1.3-1.9,3.6-0.6,5.2
                            c1.3,1.6,3.6,1.9,5.2,0.6l10.3-8.1v5.4l-14.8,11.7c-1.6,1.3-1.9,3.6-0.6,5.2c1.3,1.6,3.6,1.9,5.2,0.6l10.3-8.1v16.7
                            c-6.5-0.7-13-1.1-19.6-1.1c-6.6,0-13.2,0.4-19.7,1.1v-15.8l10.3,8c0.7,0.5,1.4,0.8,2.3,0.8c1.2,0,2.2-0.5,2.9-1.4
                            c0.6-0.8,0.9-1.8,0.8-2.7c-0.1-1-0.6-1.9-1.4-2.5l-14.8-11.5v-5.5l10.3,8c0.7,0.5,1.4,0.8,2.3,0.8c0,0,0,0,0,0
                            c1.2,0,2.2-0.5,2.9-1.4c0.6-0.8,0.9-1.8,0.8-2.7c-0.1-1-0.6-1.9-1.4-2.5l-14.8-11.5v-5.5l10.3,8c0.7,0.5,1.4,0.8,2.3,0.8
                            c1.2,0,2.2-0.5,2.9-1.4c1.3-1.6,1-3.9-0.7-5.2L99.4,88.4v-5.5l10.3,8c0.7,0.5,1.4,0.8,2.3,0.8c1.2,0,2.2-0.5,2.9-1.4
                            c0.6-0.8,0.9-1.8,0.8-2.7c-0.1-1-0.6-1.9-1.4-2.5L95.6,70.6L77.1,85.1c-1.6,1.3-1.9,3.6-0.6,5.2c1.3,1.6,3.6,1.9,5.2,0.6L92,82.8
                            v5.4L77.1,99.9c-1.6,1.3-1.9,3.6-0.6,5.2c1.3,1.6,3.6,1.9,5.2,0.6L92,97.7v5.4l-14.8,11.7c-1.6,1.3-1.9,3.6-0.6,5.2
                            c1.3,1.6,3.6,1.9,5.2,0.6l10.3-8.1v5.4l-14.8,11.7c-1.6,1.3-1.9,3.6-0.6,5.2c1.3,1.6,3.6,1.9,5.2,0.6l10.3-8.1v16.9
                            c-5.6,0.9-11.1,2-16.5,3.3c-10.4-10.9-16.8-25.5-16.8-41.7c0-33.3,27.1-60.4,60.4-60.4c33.3,0,60.4,27.1,60.4,60.4
                            C179.6,122.1,173.2,136.8,162.8,147.7z" />
                        </g>
                    </svg>
                </a>
            </li>
            <li class="nav-item">
                <a href="#">Blogg</a>
            </li>
            <li class="nav-item">
                <a href="#">Kontakt</a>
            </li>
        </ul>
    </nav>
    {% include carousel.liquid %}
</header>

{% comment %} <header class="page-header">
    <div class="slice">
        <div class="page-header__content">
            <div class="brand-wrapper">
                <div class="brand-text">
                    I am
                </div>
                <a href="/">
                    <svg class="logotype" width="50" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 198.44 113">
                        <polygon class="body" points="135.23 12.04 135.23 0 72.94 12.04 72.94 0 0 13.66 0 113 62.75 100.73 73.29 98.53 62.75 113 125.97 100.5 136.74 98.3 125.97 113 198.44 98.88 198.44 0 135.23 12.04"
                        />
                        <polygon class="shadow" points="62.75 100.73 62.75 113 73.29 98.53 62.75 100.73" />
                        <polygon class="shadow" points="125.97 100.5 125.97 113 136.74 98.3 125.97 100.5" />
                        <path class="letter" d="M41.49,37.5a17.31,17.31,0,0,1,4.91-.05,8.84,8.84,0,0,1,3.81,1.42,7.23,7.23,0,0,1,2.47,3,11.65,11.65,0,0,1,.88,4.81q0,5.9-3,9T41.8,59.66l-4.89.69v11l-8.63,1.21V39.36ZM38.37,53.18q1.19-.17,2.29-.39a6.66,6.66,0,0,0,2-.72A3.78,3.78,0,0,0,44,50.68a4.75,4.75,0,0,0,.53-2.43,4.45,4.45,0,0,0-.51-2.37,2.51,2.51,0,0,0-1.34-1.07,5,5,0,0,0-2-.18q-1.15.09-2.38.27l-1.45.2v8.28Z"
                            transform="translate(-0.78 -0.44)" />
                        <path class="letter" d="M108.13,70.36,100,58.73H99.9V71.52l-8.63,1.21V39.52l12.91-1.81a16.44,16.44,0,0,1,4.58,0A8.59,8.59,0,0,1,112.41,39a7.09,7.09,0,0,1,2.42,2.85,10.15,10.15,0,0,1,.88,4.46,12.19,12.19,0,0,1-.46,3.35,10.61,10.61,0,0,1-1.39,3,10.24,10.24,0,0,1-2.29,2.44,10,10,0,0,1-3.13,1.61l10.44,12.14Zm-7.4-17.28a18,18,0,0,0,2.11-.43,6.55,6.55,0,0,0,1.92-.84,4.59,4.59,0,0,0,1.41-1.45,4.24,4.24,0,0,0,.55-2.26,3.47,3.47,0,0,0-.55-2.1,3.06,3.06,0,0,0-1.41-1.06,5.22,5.22,0,0,0-1.92-.3,17.09,17.09,0,0,0-2.11.16l-.84.12V53.2Z"
                            transform="translate(-0.78 -0.44)" />
                        <path class="letter" d="M164.27,50.56,174,49.19V56.5l-9.73,1.37v5.73l10.26-1.44v7.31l-18.9,2.66V38.91l18.9-2.66v7.31L164.27,45Z"
                            transform="translate(-0.78 -0.44)" />
                    </svg>
                </a>
                <div class="brand-text">
                    and I
                    <span class="pulse">create</span> stuff
                </div>
            </div>
            <nav class="main-navigation">
                <div class="navigation-button">MENY</div>
                <ul>
                    {% for link in site.data.navigation %}
                        <li>
                            <a href="{{ link.url }}"{% if page.url == link.url or (link.title == 'Blog' and page.layout == 'post') %} class="current"{% endif %}>{{ link.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="mobile-navigation">
    <ul>
        {% for link in site.data.navigation %}
            <li>
                <a href="{{ link.url }}"{% if page.url == link.url or (link.title == 'Blog' and page.layout == 'post') %} class="current"{% endif %}>{{ link.title }}</a>
            </li>
        {% endfor %}
    </ul>
</div> {% endcomment %}
