<div class="top-bar"></div>
<header class="page-header">
  <div class="wrapper">
    <div class="site-title-wrapper">
      <div class="site-title">
        <a href="{{ site.baseurl }}/" class="logotype"><img src="/assets/img/logotype.svg" alt="{{ site.title }}" /></a>
        <a href="{{ site.baseurl }}/" class="title">{{ site.title }}</a>
      </div>
    </div>
    <nav class="main-navigation">
      <div class="main-navigation-button">MENY</div>
      <ul>
        {% for link in site.navigation %}
          <li><a href="{{ site.baseurl }}{{ link.url }}"{% if page.url == link.url or (link.title == 'Blog' and page.layout == 'post') %} class="current"{% endif %}>{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
