<section id="hero" class="section section--hero">
    <div class="slice">
        <div class="row">
            <div class="col col--1-2 animate animate--fade-in animate--slide-down">
                <h1 class="page-title">Per Ragnar Edin</h1>
                <ul class="hero__list">
                    <li class="check">
                        <span class="label">
                            <span class="no-wrap">Webbutvecklare &amp;</span>
                            <span class="no-wrap">webbdesigner</span>
                        </span>
                    </li>
                    <li class="check">
                        <span class="label">Grafiker</span>
                    </li>
                    <li class="check">
                        <span class="label">
                            <span class="strike">Fotograf</span> Nybörjarfotograf
                        </span>
                    </li>
                </ul>
                <p style="margin-top: 2rem;">
                    Jag gillar också
                    <span class="sticker">☕️ kaffe</span> och
                    <span class="sticker">🌳🌲🌴 träd.</span>
                </p>
            </div>
            <div class="col col--1-2 animate animate--fade-in animate--slide-down">
                <p>
                    Du hittar mig på ...
                </p>
                <ul class="link__list">
                    {% for link in site.data.links %}
                        <li>
                            <a href="{{ link.url }}" class="link link--{{ link.class }}">{{ link.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
