<section id="hero" class="section section--hero">
    <div class="slice">
        <div class="row">
            <div class="col col--1-2 animate animate--fade-in animate--slide-down">
                <h1 class="page-title">Per Ragnar Edin</h1>
                <ul class="hero__list">
                    <li class="check">
                        <span class="label">
                            <span class="no-wrap">Web developer &amp;</span>
                            <span class="no-wrap">web designer</span>
                        </span>
                    </li>
                    <li class="check">
                        <span class="label">Graphic designer</span>
                    </li>
                    <li class="check">
                        <span class="label">
                            <span class="strike">Photographer</span> Photographer newbie
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col col--1-2 animate animate--fade-in animate--slide-down">
                <p>
                    Visit me @
                </p>
                <ul class="link__list">
                    <li>
                        <a href="https://twitter.com/perragnaredin" target="_blank">Twitter</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/perragnar" target="_blank">Facebook</a>
                    </li>
                    <li>
                        <a href="https://github.com/perragnar" target="_blank">GitHub</a>
                    </li>
                    <li>
                        <a href="https://codepen.io/perragnar" target="_blank">CodePen</a>
                    </li>
                    <li>
                        <a href="https://500px.com/perragnar" target="_blank">500px</a>
                    </li>
                    <li>
                        <a href="https://www.artstation.com/perragnar" target="_blank">ArtStation</a>
                    </li>
                </ul>
                <p>
                    I also like
                    <span class="sticker">☕️ coffee</span> and
                    <span class="sticker">🌳🌲🌴 trees.</span>
                </p>
            </div>
        </div>
    </div>
</section>
