<section id="mini-hero" class="section section--mini-hero">
    <div class="slice">
        <div class="row">
            <div class="col col--full animate animate--fade-in animate--slide-left">
                <ul class="share-list align--right">
                    {% for link in site.data.links %}
                        <li>
                            <a href="{{ link.url }}" class="link link--{{ link.class }}">{{ link.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
