{% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">&larr;</a>
    {% else %}
      <span class="previous">&larr;</span>
    {% endif %}
    <span class="page_number ">{{ paginator.page }} / {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">&rarr;</a>
    {% else %}
      <span class="next ">&rarr;</span>
    {% endif %}
  </div>
{% endif %}
