<div class="post-list">
  {% for post in paginator.posts %}
    <div class="post">
      <div class="box">
        {% if post.poster %}
          <div class="post-poster">
            <img src="{{ site.baseurl }}/assets/posters/{{ post.poster }}" />
          </div>
        {% endif %}
        <header class="post-header">
          <div class="post-meta">
            <div class="date">{% include datetime.html datetime=post.date %}</div>
          </div>
          {% if post.title %}<h1 class="post-title{% if post.poster %} poster-title{% endif %}"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>{% endif %}
        </header>
        <div class="post-content">
          {{ post.excerpt }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
