<div class="post-list">
  {% for post in paginator.posts %}
    {% unless post.draft %}
      <div class="post">
        <div class="box">
          {% if post.poster %}
            {% if post.poster contains '://' %}
              {% assign poster_url = post.poster %}
            {% else %}
              {% assign poster_url = post.poster | prepend: site.baseurl | prepend: '/assets/posters/' %}
            {% endif %}
            <div class="post-poster">
              <img src="{{ poster_url }}" alt="{{ post.title }}" />
            </div>
          {% endif %}
          <header class="post-header">
            <div class="post-meta">
              <div class="post-meta-section date">{% include datetime.html datetime=post.date %}</div>
              {% if post.tags %}
              <div class="post-meta-section tags">
                <ul>
                  {% for tag in post.tags %}
                    <li><a href="/tags/#{{ tag | slugify: 'pretty' }}" class="tag">{{ tag }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
            </div>
            {% if post.title %}<h2 class="post-title{% if post.poster %} poster-title{% endif %}"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>{% endif %}
          </header>
          <div class="post-content">
            {{ post.excerpt | markdownify }}
          </div>
        </div>
      </div>
    {% endunless %}
  {% endfor %}
</div>
