{% assign current_page = paginator.page | times: 1 %}

<div class="post-list-header">
  <img src="/assets/img/perragnar.jpg" alt="Per Ragnar Edin" class="author-photo round" />
  
  <h1>{{ page.title }}{% if paginator.page > 1 %}<span> - Sida {{ paginator.page }}</span>{% endif%}</h1>
  
  <p>
    Hej, jag heter Per Ragnar Edin och är webbutvecklare. Detta är min blog med fokus just på webbutveckling.
  </p>
  
  <ul class="contact">
    <li><a href="https://twitter.com/perragnaredin" class="tag">Twitter</a></li>
    <li><a href="https://github.com/perragnar" class="tag">Github</a></li>
    <li><a href="https://www.artstation.com/artist/perragnar" class="tag">Artstation</a></li>
  </ul>
</div>

<div class="post-list">
  {% for post in paginator.posts %}
    {% unless post.draft %}
      <div class="post">
        <div class="box">
          {% if post.poster and site.show_poster_in_post_list %}
            {% if post.poster contains '://' %}
              {% assign poster_url = post.poster %}
            {% else %}
              {% assign poster_url = post.poster | prepend: site.baseurl | prepend: '/assets/posters/' %}
            {% endif %}
            <div class="post-poster">
              <img src="{{ poster_url }}" alt="{{ post.title }}" />
            </div>
          {% endif %}
          <header class="post-header">
            {% if post.title %}<h2 class="post-title{% if post.poster %} poster-title{% endif %}"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>{% endif %}
            <div class="post-meta">
              {% include readingtime.html content=post.content %}
              <div class="post-meta-section date">{% include datetime.html datetime=post.date %}</div>
              <div class="post-meta-section readingtime">{{ reading_time }} lästid</div>
              {% if post.tags %}
              <div class="post-meta-section tags">
                <ul>
                  {% for tag in post.tags %}
                    <li><a href="/tags/#{{ tag | slugify: 'pretty' }}" class="tag">{{ tag }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
            </div>
          </header>
          <div class="post-content">
            {{ post.excerpt | markdownify }}
          </div>
        </div>
      </div>
    {% endunless %}
  {% endfor %}
</div>
