{% assign words = include.content | number_of_words %}

{% if words <= 90 %}
  {% assign reading_time = "30 sekunder" %}
{% elsif words < 270 %}
  {% assign reading_time = "1 minut" %}
{% elsif words < 450 %}
  {% assign reading_time = "2 minuter" %}
{% elsif words < 630 %}
  {% assign reading_time = "3 minuter" %}
{% elsif words < 810 %}
  {% assign reading_time = "4 minuter" %}
{% elsif words < 990 %}
  {% assign reading_time = "5 minuter" %}
{% else %}
  {% assign reading_time = words | divided_by:180 | append:" min" %}
{% endif %}
