<div class="timeline-container">
    {% for post in site.posts | limit: include.limit %}
        {% unless post.draft %}
            {% assign currentPostDate = post.date | date: '%s' | times: 1 %}

            {% if lastPostDate %}
                {% assign dayDiff = lastPostDate | minus: currentPostDate | divided_by: 3600 | divided_by: 24 %}
            {% else %}
                {% assign dayDiff = 0 %}
            {% endif %}

            <div class="timeline-item" style="margin-top: calc(50px * {{ dayDiff }});">
                <div class="timeline-item-content">
                    <a href="{{ site.baseurl }}{{ post.url }}">
                        <h4 class="timeline-item-header">{{ post.title }}</h4>
                    </a>
                    <div class="date">{% include datetime.liquid datetime=post.date %}</div>
                    <span class="circle"></span>
                </div>
            </div>

            {% assign lastPostDate = post.date | date: '%s' | times: 1 %}
        {% endunless %}
    {% endfor %}
</div>
