.float-left {
  float: left;
  margin: 0 1rem 1rem 0;
}

.float-right {
  float: right;
  margin: 0 0 1rem 1rem;
}

.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }

.round {
  border-radius: 50%;
}

.responsive-container {
  position: relative;
  height: 0;
  overflow: hidden;
  
  &.ratio-100 { padding-bottom: 100%; }
  &.ratio-75 { padding-bottom: 75%; }
  &.ratio-50 { padding-bottom: 50%; }
  &.ratio-25 { padding-bottom: 25%; }
  
  iframe,
  object,
  embed,
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.fill-width {
  width: 100%;
}

.full-width {
  @include large {
    margin-left: -5rem;
    margin-right: -5rem;
  }

  @include medium {
    margin-left: -3rem;
    margin-right: -3rem;
  }

  @include small {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
  
  &.margin { margin-bottom: 2rem; }
  &.padding {
    @include large {
      padding: 3rem 5rem;
    }

    @include medium {
      padding: 2rem 3rem;
    }

    @include small {
      padding: 1.5rem;
    }
  }
  
  p:last-child {
    margin-bottom: 0;
  }
}

.bg-pop { background-color: lightgray; color: gray; }
.bg-note { background-color: #fffabc; color: #927827; }
.bg-info { background-color: #63BBFF; color: white; }
.bg-warning, .bg-alert { background-color: #800; color: white; }

.tag {
  background: #feb800;
  border-radius: .1rem;
  font-family: $font-ui-bold;
  text-transform: uppercase;
  color: #584202;
  display: block;
  margin: 0;
  text-decoration: none;
  line-height: 1;
  padding: .4rem .6rem .3rem;
}

.tag:hover {
  background-color: #FFDB5C;
  color: black;
  text-decoration: none;
}

.button {
  display: inline-block;
  line-height: 1;
  border: transparent solid .15rem;
  color: slategray;

  &:not(.small) {
    @include large {
      padding: 1rem 2rem;
    }
    @include medium {
      padding: .75rem 1.5rem;
    }
    @include small {
      padding: .5rem 1rem;
    }
  }

  &.small {
    font-size: .9em;
    padding: .5rem 1rem;
  }

  &.rounded {
    border-radius: .3rem;
  }

  &.ghost {
    color: $button-generic-background;
    border-color: $button-generic-background;

    &:hover {
      color: $button-generic-color;
      border-color: $button-generic-background;
      background-color: $button-generic-background;
    }
  }

  &.generic {
    background-color: $button-generic-background;
    color: $button-generic-color;

    &:hover {
      background-color: lighten($button-generic-background, 10);
    }
  }

  &.ok {
    background-color: $button-ok-background;
    color: $button-ok-color;

    &:hover {
      background-color: lighten($button-ok-background, 10);
    }
  }

  &.warning {
    background-color: $button-warning-background;
    color: $button-warning-color;

    &:hover {
      background-color: lighten($button-warning-background, 10);
    }
  }

  &.error {
    background-color: $button-error-background;
    color: $button-error-color;

    &:hover {
      background-color: lighten($button-error-background, 10);
    }
  }

  &:hover {
    text-decoration: none;
  }
}
