// Sizes
$page-max-width: 1200px;
$page-max-width: 1400px;
$page-large-width: 1024px;
$page-medium-width: 768px;
$page-min-width: 300px;

// Typography
$font-ui: 'Roboto', Helvetica, Arial, sans-serif;
$font-ui-bold: 'Roboto Bold', Helvetica, Arial, sans-serif;
$font-menu: 'Roboto Bold', Helvetica, Arial, sans-serif;
$font-header: 'Bree Serif', 'Roboto Bold', Helvetica, Arial, sans-serif;
$font-content: 'Roboto', Helvetica, Arial, sans-serif;
$font-condensed: 'Roboto Condensed', Helvetica, Arial, sans-serif;

// Colors
$font-content-color: #3C3C3C;
