// Sizes
$page-max-width: 1200px;
$page-large-width: 1024px;
$page-medium-width: 768px;
$page-min-width: 300px;

// Typography
$font-ui: 'Museo Sans Rounded', Helvetica, Arial, sans-serif;
$font-ui-bold: 'Museo Sans Rounded Bold', Helvetica, Arial, sans-serif;
$font-menu: 'Museo Sans Rounded Bold', Helvetica, Arial, sans-serif;
$font-header: 'Museo Sans Rounded Bold', Helvetica, Arial, sans-serif;
$font-content: 'Museo Sans Rounded', Helvetica, Arial, sans-serif;
$font-content-bold: 'Museo Sans Rounded Bold', Helvetica, Arial, sans-serif;
$font-mono: Consolas, 'Roboto Mono', monospace, serif;

// Colors
$font-content-color: #3C3C3C;
