---
layout: default
---

{% include minihero.liquid %}

{% if site.site_open and page.page_open != false  %}
    <section id="categories" class="section section--blog">
        <div class="slice">
            <div class="row">
                <div class="col col--full card card--ghost">
                    <div class="card__body">
                        <h3 class="section__header">Blog</h3>
                        {{ content }}
                    </div>
                </div>
                {% include post-list.liquid %}
            </div>
        </div>
    </section>
{% else %}
    {% include closed.liquid %}
{% endif %}
