<!doctype html>
<html lang="sv">
  <head itemscope itemtype="http://schema.org/WebSite">
    <title itemprop="name">{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}" />
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{{ site.baseurl }}/css/main.css" rel="stylesheet" />
  </head>
  <body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/functions.js"></script>
  </body>
</html>
