<!doctype html>
<html lang="sv">
  <head itemscope itemtype="http://schema.org/WebSite">
    <title itemprop="name">{% if page.seo-title %}{{ page.seo-title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.seo-description %}{{ page.seo-description }}{% else %}{{ site.description }}{% endif %}" />
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet" />
  </head>
  <body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}

    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery-3.1.0.min.js"></script>
    <script async type="text/javascript" src="{{ site.baseurl }}/assets/js/functions.js"></script>
    <!-- <script>
      var cb = function() {
        var l = document.createElement('link'); l.rel = 'stylesheet';
        l.href = '{{ site.baseurl }}/assets/css/main.css';
        var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(cb);
      else window.addEventListener('load', cb);
    </script> -->
    
    {% if site.google_analytics_id %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics_id }}', 'auto');
        ga('send', 'pageview');

      </script>
    {% endif %}
  </body>
</html>
