---
layout: default
---

{% if site.show_content %}
    <section class="section section--default">
        <div class="slice">
            <div class="row">
                <div class="col col--full card card--shadow animate animate--fade-in animate--slide-right">
                    <div class="card__body">
                        {% if page.title %}
                            <h1 class="section__header">{{ page.title }}</h1>
                        {% endif %}
                        {{ content }}
                    </div>
                </div>
            </div>
            {% for gallery in site.data.galleries %}
                <div class="row">
                    <div class="col col--full card card--shadow animate animate--fade-in animate--slide-right">
                        <div class="card__body">
                            <h2>{{ gallery[1].title }}</h2>
                            {% if gallery[1].photos %}
                                <div class="photo-gallery">
                                    {% for photo in gallery[1].photos %}
                                        {% capture photo_width %}
                                            {{ photo.width | times: 1.0 }}
                                        {% endcapture %}
                                        {% capture photo_height %}
                                            {{ photo.height | times: 1.0 }}
                                        {% endcapture %}
                                        <div class="photo" style="background-image: url({{ photo.filename }})">
                                            <div class="photo__data">
                                                <h4 class="photo__title data__post">
                                                    {% if photo.title %}
                                                        {{ photo.title }}
                                                    {% else %}
                                                        {{ photo.filename }}
                                                    {% endif %}
                                                </h4>
                                                <div class="data__post">
                                                    {{ photo.width }}&times;{{ photo.height }}px
                                                </div>
                                                <div class="data__post">
                                                    {{ photo_height | divided_by: photo_width }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% else %}
    {% include closed.html %}
{% endif %}
