---
layout: default
---

{% if site.show_content %}
    <section class="section section--default">
        <div class="slice">
            <div class="row">
                <div class="col col--full card card--shadow animate animate--fade-in animate--slide-right">
                    <div class="card__body">
                        {% if page.title %}
                            <h1 class="section__header">{{ page.title }}</h1>
                        {% endif %}
                        {{ content }}
                    </div>
                </div>
            </div>
            {% for gallery in site.data.galleries %}
                <div class="row">
                    <div class="col col--full card card--shadow animate animate--fade-in animate--slide-right">
                        <div class="card__body">
                            <h2>{{ gallery[1].title }}</h2>
                            {% if gallery[1].photos %}
                                <div class="photo-gallery">
                                    {% for photo in gallery[1].photos limit: 4 %}
                                        <div class="photo">
                                            <h4 class="photo__title">{{ photo.filename }}</h4>
                                            <img src="https://picsum.photos/800/500" alt="Placeholder" />
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% else %}
    {% include closed.html %}
{% endif %}
