---
layout: default
category_filter: photography
---

{% if site.site_open and page.page_open != false  %}
    <section class="section section--photo">
        <div class="slice">
            <div class="row">
                <div class="col col--full card card--ghost animate animate--fade-in animate--slide-right">
                    <div class="card__body">
                        {% if page.title %}
                            <h1 class="section__header">{{ page.title }}</h1>
                        {% endif %}
                        {{ content }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col--full card card--shadow animate animate--fade-in animate--slide-right">
                    <div class="card__body">
                        <h2>Galleries</h2>
                        <div class="gallery-list">
                            {% for post in site.posts %}
                                {% assign post_categories = post.categories | downcase %}
                                {% if post.galleries or post_categories contains layout.category_filter %}
                                    {% unless post.draft %}
                                        <div class="gallery-post">
                                            <a href="{{ site.baseurl }}{{ post.url }}">
                                                <h3 class="gallery__title">{{ post.title }}</h3>
                                                <div class="gallery__date">{% include datetime.html datetime=post.date %}</div>
                                            </a>
                                        </div>
                                    {% endunless %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% else %}
    {% include closed.html %}
{% endif %}
