---
layout: default
---

{% if site.show_content %}
    <section class="section section--default">
        <div class="slice">
            <div class="row">
                <div class="col col--full card card--shadow animate animate--fade-in animate--slide-right">
                    <div class="card__body">
                        {% if page.title %}
                            <h1 class="section__header">{{ page.title }}</h1>
                        {% endif %}
                        {% if site.data.galleries %}
                            {% for gallery in site.data.galleries %}
                                <li>
                                    {{ gallery.title }}
                                    {% for photo in site.data[gallery.slug] limit: 3 %}
                                        {{ photo.filename }}
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% else %}
    {% include closed.html %}
{% endif %}
