---
layout: default
---

{% if site.site_open and page.page_open != false  %}
    <main class="page">
        <section class="intro section">
            <div class="section__content">
                {{ content }}
            </div>
        </section>
    </main>
{% endif %}
