---
layout: default
---

{% if site.show_content %}
    <section class="section section--default">
        <div class="slice">
            <div class="row">
                <div class="col col--full card card--shadow animate animate--fade-in animate--slide-right">
                    <div class="card__body">
                        {% if page.title %}
                            <h1 class="section__header">{{ page.title }}</h1>
                        {% endif %}
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% else %}
    <section class="section section--default">
        <div class="slice">
            <div class="row">
                <div class="col col--full card card--ghost">
                    <div class="card__body">
                        <h2 class="section__header">Oh, snap!</h2>
                        <p>
                            Content is currently not available at the moment. Please check back later. :(
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
