---
layout: default
---

<div class="page-wrapper">
  <div class="wrapper">
    <div class="post">
      <div class="box">
        {% if page.poster %}
          <div class="post-poster">
            <img src="{{ site.baseurl }}/assets/posters/{{ page.poster }}" alt="{{ page.title }}" />
          </div>
        {% endif %}
        {% if page.title %}
          <header class="post-header">
            <h1 class="post-title{% if page.poster %} poster-title{% endif %}"><a href="{{ site.baseurl }}{{ post.url }}">{{ page.title }}</a></h1>
          </header>
        {% endif %}
        <div class="post-content">
          {{ content }}
        </div>
      </div>
      {% if page.comments %}
        <div class="box">
          <div id="disqus_thread"></div>
          <script>
            (function() {
              var d = document, s = d.createElement('script');

              s.src = '//{{ site.disqus_shortname }}.disqus.com/embed.js';

              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
      {% endif %}
    </div>
  </div>
</div>
