---
layout: default
---

<div class="page-wrapper">
  <div class="wrapper">
    <div class="post">
      <div class="box">
        {% if page.poster %}
          {% if page.poster contains '://' %}
            {% assign poster_url = page.poster %}
          {% else %}
            {% assign poster_url = page.poster | prepend: site.baseurl | prepend: '/assets/posters/' %}
          {% endif %}
          <div class="post-poster">
            <img src="{{ poster_url }}" alt="{{ page.title }}" />
          </div>
        {% endif %}
        <header class="post-header">
          <div class="post-meta">
            <div class="post-meta-section date">{% include datetime.html datetime=page.date %}</div>
            {% if page.tags %}
              <div class="post-meta-section tags">
                <ul>
                  {% for tag in page.tags %}
                    <li><a href="/tags/#{{ tag | downcase }}">{{ tag }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          </div>
          {% if page.title %}<h1 class="post-title{% if page.poster %} poster-title{% endif %}"><a href="{{ site.baseurl }}{{ post.url }}">{{ page.title }}</a></h1>{% endif %}
        </header>
        <div class="post-content">
          {% if page.excerpt %}
            <div class="excerpt">{{ page.excerpt | markdownify }}</div>
          {% endif %}
          {{ content }}
        </div>
      </div>
      {% if page.comments %}
        <div class="box">
          <div id="disqus_thread"></div>
          <script>
            (function() {
              var d = document, s = d.createElement('script');

              s.src = '//{{ site.disqus_shortname }}.disqus.com/embed.js';

              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
      {% endif %}
    </div>
  </div>
</div>
