// Body colors.
$colorBodyBackground: #1b1b1d;
$colorBodyColor: #b9b9c2;

// Generic colors.
$colorWhite: #ffffff;
$colorOffWhite: #acacb0;
$colorBlack: #000000;
$colorOffBlack: #111111;
$colorBorder: #333338;
$colorDarkGray: #1b1b1d;
$colorDarkGrayLight: #202023;
$colorGray: #494950;
$colorLightGray: #88888e;
$colorLightGrayLight: #99999c;
$colorBlue: #3081fa;
$colorBlueLight: #71a7f8;
$colorBluePale: #afcfff;
$colorYellow: #e0a52d;
$colorYellowLight: #f1d192;
$colorYellowDark: #6d521d;
$colorGreenLight: #abbf8d;
$colorSteel: #5c5c6b;
$colorSteelLight: #7e8999;
$colorSteelDark: #3d3d4b;

// Fonts.
$fontPunch: 'Rubik',
sans-serif;
$fontText: 'Rubik',
sans-serif;
$fontFixedWidth: "Jetbrains Mono",
"Fira Code",
"agave-r",
Consolas,
Monaco,
'Andale Mono',
'Ubuntu Mono',
monospace !important;
;
